<main class="main-content">
     <div class="main-content_title">
        <div class="main-content_title_text">
            Offers
        </div>
    </div>
    <div class="main-content_container">
        <div class="main-content_container_offers-grid-row">
            <div class="main-content_container_offer">
                <img src="../../../assets/img/moscow.jpg" alt="Imagen de playa">
            </div>
            <div class="main-content_container_offer">
                <img src="../../../assets/img/puerto-rico.jpg" alt="Imagen de una montaña con una canoa al frente">
            </div>
            <div class="main-content_container_offer">
                <img src="../../../assets/img/honduras.jpg" alt="Imagen de palmeras en una playa">
            </div>
        </div>
        <div class="main-content_container_menu">

        </div>
    </div> 
</main>