<main class="main-content">
     <div class="main-content_title">
        <div class="main-content_title_text">
           <span>Offers</span>
        </div>
    </div>
    <div class="main-content_container">
        <div class="main-content_container_offers-grid-row">
            <div class="main-content_container_offer">
                <img src="../../../assets/img/moscow.jpg" alt="Imagen de playa">
                <div class="main-content_container_offer_description">
                    <span class="offer_description_text offer_description--uppertext">
                        Trip to Moscow
                    </span>
                    <p class="offer_description_text offer_description--price">
                        Price $600,86
                    </p>
                </div>
            </div>
            <div class="main-content_container_offer">
                <img src="../../../assets/img/puerto-rico.jpg" alt="Imagen de una montaña con una canoa al frente">
                <div class="main-content_container_offer_description">
                    <span class="offer_description_text offer_description--uppertext">
                        Trip to Puerto Rico
                    </span>
                    <p class="offer_description_text offer_description--price">
                        Price $600,86
                    </p>
                </div>
            </div>
            <div class="main-content_container_offer">
                <img src="../../../assets/img/honduras.jpg" alt="Imagen de palmeras en una playa">
                <div class="main-content_container_offer_description">
                    <span class="offer_description_text offer_description--uppertext">
                        Trip to Honduras
                    </span>
                    <p class="offer_description_text offer_description--price">
                        Price $600,86
                    </p>
                </div>
            </div>
        </div>
        <div class="main-content_container_menu">
            <div class="main-content_container_menu-box">
                <h3 class="menu-box_title">Menu</h3>
                <div class="menu-box_links-container">
                    <span><a href="">Check-in</a></span>
                    <span><a href="">Manage My Booking</a></span>
                    <span><a href="">Search</a></span>
                    <span><a href="">Destinations</a></span>
                    <span class="no-border"><a href="">Members</a></span>
                </div>
            </div>
        </div>
    </div> 
</main>