<footer class="footer">
    <div class="footer_social-info">
        <h5 class="footer_social-info_text">Follow us</h5>
        <div class="footer_social-info_icons">
            <img src="../../../assets/img/facebook.png" alt="" width="30px" height="30px">
            <img src="../../../assets/img/instagram.png" alt="" width="30px" height="30px">
            <img src="../../../assets/img/twitter.png" alt="" width="30px" height="30px">
        </div>
    </div>
    <div class="footer_links">
        <div class="footer_links_container align-self">
            <h6 class="footer_links_text--title">About Us</h6>
            <a href="" class="footer_links_text--link footer_links_text--about-us-link">we want to help passengers to reach their destinations</a>
        </div>
        <div class="footer_links_container">
            <h6 class="footer_links_text--title">Explore</h6>
            <a href="" class="footer_links_text--link">Home</a>
            <a href="" class="footer_links_text--link">Destinations</a>
            <a href="" class="footer_links_text--link">About</a>
        </div>
        <div class="footer_links_container">
            <h6 class="footer_links_text--title">Information</h6>
            <a href="" class="footer_links_text--link">More Search</a>
            <a href="" class="footer_links_text--link">Blog</a>
            <a href="" class="footer_links_text--link">Testimonials</a>
        </div>
        <div class="footer_links_container">
            <h6 class="footer_links_text--title">Services</h6>
            <a href="" class="footer_links_text--link">Manage My Bookings</a>
            <a href="" class="footer_links_text--link">Checkin</a>
            <a href="" class="footer_links_text--link">Hotel</a>
            <a href="" class="footer_links_text--link">Cars</a>
        </div>
    </div>
</footer>