@import '~normalize.css/normalize.css';

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

html {
    font-family: 'Roboto', 'Segoe UI', Verdana, sans-serif;
    color: white;
}

ol,
ul {
    list-style-type: none;
    padding-left: 0;
}

